*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


#imgf{
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 800px;
    width: 1050px;
}

.resaltador{
    color: rgb(249, 239, 151);

}

.texto{
    margin-left: 25px;
    margin-top: 25px;
    text-align: left !important;
    color: lemonchiffon;
}


.btn-back{
    margin-left: 1180px;
    color: rgb(25, 90, 142);
    font-size: xx-large;
    
    
}