#general{
    background-color: rgb(77, 77, 121);
}
.text{
    color: blanchedalmond;
    text-align: center;
    font-size: 40px;
    
}
.btn-back{
    margin-left: 1200px;
    font-size: xx-large;
    color: aqua;
}

.btn-back:hover{
    color: blueviolet;
}