
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.header{
    border: 2px solid rgb(116, 59, 247);
    border-radius: 15px;
    text-align: center;
    height: 300px;
    padding: 12px;
    background-image: url("/static/assets/img/fondoperf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.nombre{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(87, 156, 184);;
}

.resaltador{
    color: lemonchiffon;
}

.box{
    border: 2px solid rgb(116, 59, 247);
    border-radius: 15px;
    background-image: url("/static/assets/img/fondoperf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cat{
    border: 5px solid rgb(166, 152, 197);
    border-radius: 15px;
    background-color:rgb(245, 244, 242);
}

.ct{
    font-size: 20px;
}



input{
    background-color: rgb(101, 150, 176);
    border: 1px;
    border-radius: 10px;
    font-size: 20px;
}



h3 {
    color: lemonchiffon;
    font-size: 22px;
}




a:hover {
    color: rgb(12, 2, 71);
}


input:hover{
    color: blueviolet;

}

.exit{
   margin-left: 1200px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 40px;
   color: blueviolet;

}


.exit:hover{
    color: aqua;
}



.form{
    border: 2px solid rgb(116, 59, 247);
    border-radius: 15px;
    background-image: url("/static/assets/img/fondoperf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}

#borrar{
    border: 3px solid rgb(116, 59, 247);
    border-radius: 10px;
    position: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}