html{
    scroll-behavior: smooth;
}


body{
    background-repeat: no-repeat !important;
    background-size: cover;
    
    
}

.texto{
    margin-top: 400px ;
    margin-left: 250px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-size: 35px;
    color: rgb(42, 37, 37);
}

.firma{
    margin-top: 100px;
    margin-left: 1180px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    
}

.btn-back{
    margin-left: 1180px;
    color: red;
    font-size: xx-large;
    
    
}