
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de registro</title>
    <link href="/static/css/about.css" rel="stylesheet" />
</head>
<body  id="imgf" background= "{% static 'assets/img/workingup.jpg' %}">
    <div>    
        <h2 class="texto">
        <span class= "resaltador"> Sobre el proyecto:</span> Apunta a ser una herramienta util para cualquier contador o entidad financiera que quiera promocionarse,
        optimizar el contacto  y relacion con sus clientes.
        Asi poder ampliar la cartera de clientes de la firma, y satisfacer las necesidades de cada usuario para poder brindarles una forma facil,rapida y agil de ver el  proceso y estado de sus solicitudes.
        <br>
        </h2>
    </div>
    <div>
        <h2 class="texto">
        <span class= "resaltador"> Sobre mi: (Baudes matias)</span> Cursado C# .net para no programadores,redes de datos,arquitectura de computadoras en ISTEA, actualmente estudiante de programacion python en CoderHouse y FullStack Codo a Codo,
        con grandes expectativas de poder aprender aun mas de este interesante mundo.
        <br>
        </h2>
    </div>
    <div>
        <h2 class="texto">
        <span class= "resaltador"> Sobre mi:(Zucchi Matias)</span> Estudiante de programacion en CoderHouse, 29 años.
        <br>
        </h2>
    </div>



    </h2>
    <br>
        
    <a href="{% url 'AppFinalInicio' %}" class="btn-back">Volver</a>
</body>
</html>
