{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de registro</title>
    
</head>
    <body>
        <h1> Bienvenido {{ mail }} ya estas registrado en nuestro newslater!!</h1>
        <p>
            Pronto recibiras todas las novedades!!!
        </p>
        <p> Saludos cordiales</p>
        <h4> Atte. el equipo de  <b>CZRContable</b></h4>
    </body>
</html>