{% extends 'UserAppTemplate/pagina_dos.html' %}
{% load static %}


{% block content %}
<div class="content-sec">
    <div class="bs-nav">
    </div>
    <div class="mnt-ctr">
        <h2 class="tit-mnt">Invetir</h2>
        <h3> Seleccione el tipo de inversion, el monto, y su moneda de eleccion: </h3>
        <div class="form-imp">

            <form action="" method= "POST">{% csrf_token %}
                    
       
                {{ form.as_table }}

                        
                <br>
                <br>
                
                
                <button id="btnSuccess" >Invertir</button>

                
                        
            </form>
            
            
        
        <br>
        <br>
        <a href="{% url 'UserAppPaginaDos' %}" class="btn-back">Volver</a>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/js/notificaciones.js"></script>
{% endblock %}

