
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de registro</title>
    <link href="/static/css/profile.css" rel="stylesheet" />

</head>


<body>
    
    <div class="header">
        <img  class="imagen" src="/static/assets/img/imgperf.jpg">
            <h1 class="nombre">Bienvenido: nombre</h1>
    </div>
    <div class="cat">
        <h1> Categorias Activas: </h1>
    <ul>
        <li class="ct">
            <a href="#!">Monotributo: Activo</a>
        </li>
    
        <li class="ct">
            <a href="#!">Responsable Inscripto: Inactivo</a>
        </li>
           
        <li class="ct">
            <a href="#!">Impuestos: Avtivo</a>
        </li>
    </ul>
    </div>
    <div class="box">
        <h3><b>Foto perfil:</b> foto</h3>
        <input type="Submit" value="Mofificar">
        
        <h3><b>Nombre:</b> Nombre</h3>
        <input type="Submit" value="Mofificar">    

        <h3><b>Apelliido:</b> Apellido</h3>
        <input type="Submit" value="Mofificar">

        <h3><b>E-mail:</b> Email</h3>
        <input type="Submit" value="Mofificar">  

        <h3><b>Password:</b> *******</h3>
        <input type="Submit" value="Mofificar">
        
    <div>
    

</body>
</html>