
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de registro</title>
    <link href="/static/css/profile.css" rel="stylesheet" />

</head>


<body>
    
    <div class="header">
        <img  class="imagen" src="{{ user.avatar.imagen.url }}">
            <h1 class="nombre">Bienvenido: <span class="resaltador">{{user.get_username}}</span></h1>
            <a class="exit" href="{% url 'UserAppPaginaDos' %}" class="btn-back">Volver</a>
    </div>
    <div class="cat">
        <h1> Categorias Activas: </h1>
    <ul>
        <li class="ct">
            <a href="#!">Monotributo: Activo</a>
        </li>
    
        <li class="ct">
            <a href="#!">Responsable Inscripto: Inactivo</a>
        </li>
           
        <li class="ct">
            <a href="#!">Impuestos: Avtivo</a>
        </li>
    </ul>
    </div>
    <div class="box">
        <form action ""method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_table }}
            
        <h3><b>Foto perfil:</b></h3><img  class="imagen" src="{{ user.avatar.imagen.url }}">
        <input type="Submit" value="Mofificar">
        </form>

        <h3><b>Nombre:</b> <span class="resaltador">{{user.get_username}}</span></h3>
        <input type="Submit" value="Mofificar">    

        <h3><b>Apelliido:</b> <span class="resaltador">{{user.last_name}}</span></h3>
        <input type="Submit" value="Mofificar">

        <h3><b>E-mail:</b> <span class="resaltador">{{user.email}}</span></h3>
        <input type="Submit" value="Mofificar">

        <h3><b>Password:</b> <span class="resaltador">{{user.password}}</span></h3>
        <input type="Submit" value="Mofificar">
        
    <div>
    

</body>
</html>