
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de registro</title>
    <link href="/static/css/styleSN.css" rel="stylesheet" />

</head>


<body  class="imgf" background= "{% static 'assets/img/fondoad.jpg' %}">
    <div id="container">
        <h2 class="texto">Nosotros una empresa lider en el segmento con mas de 20 años de trayectoria, donde logramos mejorar las finanzas y
            la contabilidad de nuestros clientes, para asi optimizar sus ganancias y minimizar sus perdidas, logramos una mayor
            competitividad en el mercado incluyendo en nuestras propuestas modelos de negocios y rentabilidad en los mismos.
            Actualmente nos encontramos trabajando en conjunto con grandes empresas en varios paises, brindando el mejor servicio
            de asistencia financiera y contable, logrando asi cada objetivo planteado por parte de nuestros clientes.
            Buscamos innovar, buscamos la excelencia en cada aspecto.
        </h2>
        <br>
        <br>
        <br>
        <br>
        <a href="{% url 'AppFinalInicio' %}" class="btn-back">Volver</a>
       
    </div>

    


</body>
</html>
